<main class="create-hero-container">
  <div class="card-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Create Hero</mat-card-title>
      </mat-card-header>
      <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Super hero</mat-label>
            <input
              maxlength="100"
              matInput
              appUppercase
              placeholder="Enter super hero"
              formControlName="superhero"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Publisher</mat-label>
            <input
              maxlength="200"
              matInput
              placeholder="Enter publisher"
              formControlName="publisher"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Alter ego</mat-label>
            <input
              maxlength="200"
              matInput
              placeholder="Enter alter ego"
              formControlName="alter_ego"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>First appearance</mat-label>
            <input
              maxlength="200"
              matInput
              placeholder="Enter first appearance"
              formControlName="first_appearance"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Characters</mat-label>
            <input
              maxlength="250"
              matInput
              placeholder="Enter characters"
              formControlName="characters"
            />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="submit-button-container">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="heroForm.invalid"
          >
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</main>
