<div class="wrapper">
    <form [formGroup]="loginForm" class="body" (ngSubmit)="onSubmit()">
      <img class="logo" src="../../../assets/img/cuenta.png" alt="img login" />
      <h3>Login</h3>
      <div class="mb-3 mt-3">
        <label class="d-flex">Email</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>
      <div class="mb-3">
        <label class="d-flex">Password</label>
        <input type="password" class="form-control" formControlName="password"/>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid">Sign In</button>
      </div>
    </form>
</div>
