.home-container{
    height: 100%;
    padding: 2rem;
    background: linear-gradient(90deg, #a8a3d4,#a08db9,#342360);
}
.example-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}